[color]
	ui = auto
[user]
	name = Jonathan Toppins
	email = jtoppins@users.noreply.github.com
[push]
	default = matching
[core]
	editor = vim
	excludesfile = ~/.gitexclude
	abbrev = 12
	commentChar = ";"
[merge]
	tool = vimdiff
[sendemail]
	thread = true
	confirm = always
	validate = true
	chainreplyto = false
	suppresscc = self
[pretty]
	fixes = Fixes: %h (\"%s\")
	pick = pick %h %s
[format]
	signOff = true
	coverletter = auto
	thread = true
	headers = "Content-Type: text/plain"
[alias]
	amend = commit --amend
	authors = "!f() { git log --pretty=short $@ | git shortlog -sne; }; f"
	cp = cherry-pick -x --signoff
	cs = commit -s
	ls = ls-files
	ls-ignored = ls-files --exclude-standard --ignored
	dc = diff --cached
	s = status
	check = diff --check
	checki = diff --check --index
	cmp = log --oneline --cherry-pick --right-only --pretty='%H %s'
	cmpr = log --oneline --cherry-pick --right-only --reverse --pretty='%H %s'
	fp = "!git format-patch --notes --subject-prefix \"PATCH $(git upstream --remote)\" -o fp-patches"
	pruneall = "!for r in $(git remote); do git remote prune $r; done"
[diff]
	renames = true
	algorithm = minimal
	mnemonicprefix = true
[rerere]
	enabled = false
[backport]
	pretty = redhat
[notes]
	rewriteRef = refs/notes/commits
[notes "rewrite"]
	amend = true
	rebase = true
[am]
	messageid = true
# Always include this last so it can override items in this file.
#[include]
#	path = ~/.gitconfig-customizations
