[color]
	ui = auto
[user]
	name = Jonathan Toppins
	email = jtoppins@users.sourceforge.net
[push]
	default = matching
[commit]
	template = ~/.gittemplate.txt
[core]
	editor = vim
	excludesfile = ~/.gitexclude
[merge]
	tool = vimdiff
